<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <title>Student Manager</title>
        <meta charset="utf-8">	
        <script src="assets/lib/angular/angular.js" type="text/javascript"></script>
        <script src="assets/lib/angular/angular-messages.min.js" type="text/javascript"></script>
        <script src="assets/lib/angular-route/angular-route.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.css">
        <script src="src/webapp/App.js" type="text/javascript"></script>
        <script src="src/webapp/App.js" type="text/javascript"></script>
        <script src="src/webapp/controllers/ListCtrl.js" type="text/javascript"></script>
        <script src="src/webapp/controllers/NewCtrl.js" type="text/javascript"></script>
        <style type="text/css">
            .navbar-default{
                background: rgb(35, 9, 2);
                font-size: 16px;
            }
        </style>
    </head>

    <body ng-controller="AppCtrl">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#!list">List Students</a></li>
                    <li><a href="#!new">New Student</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div ng-view=""></div>
        </div>

        <!--        <div class="container">
                    <input class="form-control" style="margin: 10px;" placeholder="Search here" ng-model="search" type="text" name="search"/>
                    <table class="table">		
                        <thead>		
                            <tr>
                                <th><a href="" ng-click="orderBy('name');">Name</a></th>
                                <th><a href="" ng-click="orderBy('cpf')">CPF</a></th>
                                <th>Gender</th>
                                <th>Identify Number</th>
                                <th>Military Document Number</th>
                                <th>Nacionality</th>
                                <th>Birthday</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="student in students| orderBy:orderedBy:inverse | filter:{name : search}">
                                <td>{{student.name}}</td>
                                <td>{{student.cpf}}</td>
                                <td>{{student.gender}}</td>
                                <td>{{student.identifyNumber}}</td>
                                <td>{{student.militaryDocumentNumber}}</td>
                                <td>{{student.nacionality}}</td>
                                <td>{{student.birthday}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>-->

        <br/>
        <hr/>

        <!--        <div class="container">
                    <form name="studentForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <input class="form-control" type="text" ng-model="student.name" required="true" name="name">
                            <div ng-if="studentForm.name.$dirty" ng-messages="studentForm.name.$error" >
                                <div ng-message="required" class="alert alert-danger">
                                    Please fill out this field.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">CPF</label>
                            <input type="text" class="form-control" ng-model="student.cpf" name="cpf" ng-required="true" ng-pattern="/^\d{9}-\d{2}$/"/>
        
                            <div ng-if="studentForm.cpf.$dirty" ng-messages="studentForm.cpf.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please fill out this field.	
                                </div>
                                <div ng-message="pattern" class="alert alert-danger">
                                    Format: XXXXXXXXX-XX
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label">Gender</label>
                            <select ng-model="student.gender" name="gender" ng-required="true" class="form-control" ng-options="gender.desc for gender in genders">
                                <option value="">Select a gender</option>
                                <option>{{gender.desc}}</option>
                            </select>
        
                            <div ng-if="studentForm.gender.$dirty" ng-messages="studentForm.gender.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please select out this field.	
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label">Identify Number</label>
                            <input class="form-control" type="text" ng-model="student.identifyNumber" ng-required="true" 
                                   ng-pattern="/^\d{13}$/" name="identifyNumber"/>
        
                            <div ng-if="studentForm.identifyNumber.$dirty" ng-messages="studentForm.identifyNumber.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please select out this field.	
                                </div>
                                <div class="alert alert-danger" ng-message="pattern">
                                    Only permitted until 13 numbers	
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label">Military Document Number</label>
                            <input type="text" class="form-control" ng-model="student.militaryDocumentNumber" name="militaryDocumentNumber" ng-required="true"/>
                            <div ng-if="studentForm.militaryDocumentNumber.$dirty" ng-messages="studentForm.militaryDocumentNumber.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please fill out this field.	
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label">Nacionality</label>
                            <input class="form-control" type="text" ng-model="student.nacionality" name="nacionality" ng-required="true"/>
                            <div ng-if="studentForm.nacionality.$dirty" ng-messages="studentForm.nacionality.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please fill out this field.	
                                </div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label class="control-label">Birthday</label>
                            <input class="form-control" type="text" ng-model="student.birthday" ng-required="true" name="birthday"/>
                            <div ng-if="studentForm.birthday.$dirty" ng-messages="studentForm.birthday.$error">
                                <div class="alert alert-danger" ng-message="required">
                                    Please fill out this field.	
                                </div>
                            </div>
                        </div>
                                        
                        
        
                        <button class="btn btn-primary" ng-click="addStudent(student);" ng-disabled="studentForm.$invalid">Submit</button>
                    </form>
                </div>-->
    </body>
</html>